# Port number
PORT=5000
NODE_ENV=development
; NODE_ENV=production
# URL of the Mongo DB
MONGODB_URL=mongodb+srv://admin:admin@cluster0.addgg.mongodb.net/myFirstDatabase

# JWT
# JWT secret key
JWT_SECRET=thisisasamplesecret
# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=30
# Number of days after which a refresh token expires
JWT_REFRESH_EXPIRATION_DAYS=30
# Number of minutes after which a reset password token expires
JWT_RESET_PASSWORD_EXPIRATION_MINUTES=10
# Number of minutes after which a verify email token expires
JWT_VERIFY_EMAIL_EXPIRATION_MINUTES=10

# SMTP configuration options for the email service
# For testing, you can use a fake SMTP service like Ethereal: https://ethereal.email/create
SMTP_HOST=gmail
SMTP_PORT=587
SMTP_USERNAME=cv.builder.oficial@gmail.com
SMTP_PASSWORD=cvbuilder2020
EMAIL_FROM=cv.builder.oficial@gmail.com
